/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 258 100% 50%;
    --secondary: 240 4.8% 95.9%;
    --accent: 204 100% 50%;
    --muted: 240 4.8% 95.9%;
    --border: 240 5.9% 90%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 258 100% 50%;
    --secondary: 240 3.7% 15.9%;
    --accent: 204 100% 50%;
    --muted: 240 3.7% 15.9%;
    --border: 240 3.7% 15.9%;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }

  a {
    @apply text-primary hover:text-accent transition-colors;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-white;
  }

  p {
    @apply text-gray-300;
  }

  .container {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
  }
}
